.App {
  text-align: center;
}

.App-logo {
  height: 80px;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.myForms {
  padding: 30px;
  background: rgba(0, 0, 0, 0.315);
  text-align: center;
  border-radius: 10px;
  margin-bottom: 25px;
  box-shadow: 0 1rem 3rem rgb(0 0 0 / 18%);
}
.App-link {
  color: #61dafb;
}
select,
input {
  display: block;
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  border: 2px solid #eee;
  outline: 0;
  border-radius: 5px;
}
.actionbtn {
  display: flex;
  justify-content: flex-end;
}
.actionbtn button {
  background: transparent;
  outline: 0;
  color: #fff;
  padding: 10px;
  border-radius: 6px;
  font-size: 15px;
  margin-right: 10px;
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem #00000026;
  border: 1px solid #eee;
}

.actionbtn button.delete {
  background-color: #ba0608;
  border: 1px solid #ba0608;
}
button:last-child {
  margin-right: 0;
}
.table-bordered {
  border: 1px solid #dee2e6;
}
.table {
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  border: 1px solid #dee2e6;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}
.table-bordered thead td,
.table-bordered thead th {
  border-bottom-width: 2px;
}
.table-bordered td,
.table-bordered th {
  border: 1px solid #dee2e6;
}
.table td,
.table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
